In [1]:
import pandas as pd

In [2]:
clothing=pd.read_csv('cloths-rating.csv')
clothing

,ProductID,UserID,Rating,Text
0,777,AV1YnR7wglJLPUi8IJmi,4,Great taffy at a great price.
1,767,AVpfpK8KLJeJML43BCuD,4,Absolutely wonderful - silky and sexy and comf...
2,1080,AVqkIdntQMlgsOJE6fuB,5,Love this dress! it's sooo pretty.
3,1077,AVpfpK8KLJeJML43BCuD,3,I had such high hopes for this dress and reall...
4,1049,AVpfpK8KLJeJML43BCuD,5,"I love, love, love this jumpsuit. it's fun, fl..."
...,...,...,...,...
629,823,B08GWV3SM6,1,I placed order 4+1 soaps.But I have received w...
630,823,B08GWV3SM6,3,"The soap is ok for bathing, no scent at all, m..."
631,847,B08GWV3SM6,5,For a long time I was searching for Indian soa...
632,910,AVph0EeEilAPnD_x9myq,3,Good but not great
633,333,AVqkIdntQMlgsOJE6fuB,5,"Quick,easy to make & tasty too."

In [8]:
clothing1=clothing.ProductID.unique()
clothing1

array([ 777,  767, 1080, 1077, 1049,  847,  858, 1095, 1065,  853, 1120,
        697,  949, 1003,  684,  444, 1060, 1002,  862,  910,   89,  823,
       6969, 9696,  333, 8001,  369], dtype=int64)

In [9]:
clothing2=clothing.UserID.unique()
clothing2

array(['AV1YnR7wglJLPUi8IJmi', 'AVpfpK8KLJeJML43BCuD',
       'AVqkIdntQMlgsOJE6fuB', 'AVph0EeEilAPnD_x9myq',
       'AVzvXXwEvKc47QAVfRhx', 'AVpf_4sUilAPnD_xlwYV',
       'AVpgdkC8ilAPnD_xsvyi', 'AVqkEM34QMlgsOJE6e8q',
       'AVpfIfGA1cnluZ0-emyp', 'AVphLY7v1cnluZ0-_Ty0', 'B00BV5FHKG',
       'B01CJUK8PU', 'B00R60PBTC', 'AVsRjfwAU2_QcyX9PHqe', 'B00ULPQTXQ',
       'B012SPKP9U', 'AVqVGZNvQMlgsOJE6eUY', 'AVpfwS_CLJeJML43DH5w',
       'AVphgVaX1cnluZ0-DR74', 'AVqVGZN9QMlgsOJE6eUZ',
       'AVpftoij1cnluZ0-p5n2', 'AVqkIhxunnc1JgDc3kg_', 'B01H70ZVIQ',
       'B071VPLC99', 'B071WRP912', 'B075P2RKDG', 'B078X5298B',
       'B079TXZ142', 'B07DCXBQPV', 'B07FPSB76P', 'B07H3V7LNR',
       'B07MKNRBFS', 'B07MXKMWT5', 'B07NLR9YPZ', 'B07Q2B5Z9D',
       'B07S55SML2', 'B07VYRQFBJ', 'B0818ZYVH1', 'B082KY37BL',
       'B0832PGNNH', 'B08DLL7C2D', 'B08GWV3SM6'], dtype=object)

In [15]:
rating = clothing[clothing['Rating'] > 3].groupby([clothing['UserID']])
rating